/* https://css-tricks.com/logic-in-media-queries/ */

html {
    background: url('https://cbsnews1.cbsistatic.com/hub/i/r/2011/09/15/30053590-a644-11e2-a3f0-029118418759/thumbnail/1200x630/a745d27d9db98eab550f46fd8bcdcbd8/prudential.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Got this from googling best way to make background image look good */
}

td {
    border: 1px solid black
}

th {
    border-top: 1px solid black
}

.boardGrid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #0c79e6;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.gameBox {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBox:hover {
    background-color: lime;
}

.text-center-head {
    font-size: 3em;
    font-family: 'Sansita Swashed', cursive;
}

#mainHeading {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-size: 6em;
    animation-name: TitleEffect;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#startButton {
    font-family: 'Sansita Swashed', cursive;
    font-size: 3em;
    margin-left: 100px;
    color: blue;
    border: 6px solid gray
}

#startButton:hover {
    color: red;
}

#counterDiv {
    font-size: 2em;
    display: flex;
    justify-content: center;
}

#sound {
    padding: 50px;
    position: absolute;
    bottom: 30%;
}

#scoreKeeper {
    font-size: 2em;
    font-family: 'Sansita Swashed', cursive;
    height: 100px;
    width: 200px;
    left: 75%;
    bottom: 60%;
    background-color: gray;
    margin: 0 auto;
    position: absolute;
    border: 6px solid blue
}

#scoreKeeper:hover {
    transform: scale(2.0);
}

#winCount {
    width: 100%
}


/* Want to find out how to pick random colors to rotate through */

@keyframes TitleEffect {
    0% {
        color: purple;
    }
    25% {
        color: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
    }
    50% {
        color: turquoise;
    }
    100% {
        color: red;
    }
}


/* Need to improve height media query*/

@media (max-width: 800px),
(max-height: 600px) {
    .boardGrid {
        width: 300px;
        height: 300px;
    }
    #mainHeading {
        font-size: 3em;
    }
    #startButton {
        font-size: 30px;
    }
    #scoreKeeper {
        bottom: 30%;
        width: 25%;
        height: 20%;
        font-size: 20px;
    }
    #sound {
        display: none;
    }
}