.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
    height: 610px;
    background-color: lightskyblue
}

.grid div {
    width: 200px;
    height: 200px;
    background-color: lime;
    margin-bottom: 5px;
}

.playerX {
    background-image: url('X.jpg')
}

.playerO {
    background-image: url(O.jpg)
}