html {
    background: url('https://cbsnews1.cbsistatic.com/hub/i/r/2011/09/15/30053590-a644-11e2-a3f0-029118418759/thumbnail/1200x630/a745d27d9db98eab550f46fd8bcdcbd8/prudential.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.boardGrid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #0c79e6;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.gameBox {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startButton {
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.text-center-head {
    font-size: 3em;
    font-family: 'Sansita Swashed', cursive;
}

#mainHeading {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-size: 6em;
}

#startButton {
    font-family: 'Sansita Swashed', cursive;
    font-size: 3em;
}

#counterDiv {
    font-size: 2em;
    display: flex;
    justify-content: center;
}